.collapse-open span {
    display:block;
    float:left;
    background:url(../../images/minus.png) center center no-repeat;
    padding:10px;
}

.collapse-close span {
    display:block;
    float:left;
    background:url(../../images/plus.png) center center no-repeat;
    padding:10px;
}

.dateOpened span:not(.year) {
    display:block;
    float:left;
    background:url(../../images/minus.png) center center no-repeat;
    padding:10px;
}

.dateClosed span:not(.year) {
    display:block;
    float:left;
    background:url(../../images/plus.png) center center no-repeat;
    padding:10px;
}

.panel-success .panel-heading h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.goal-chart {
    height: 300px;
}

.chat-video {
    height: 300px;
    width: 100%
}
.logo-image {
    width: 100px;
}

.historyEntry .panel {
    margin-right: 0px;
}

.historyEntry .collapsible {
    cursor: pointer;
}

.collapsible-dates {
    cursor: pointer;
}

.appointment .thumbnail {
    padding: 0;
}

a {
    color: #428bca;
    text-decoration: none;
    cursor: pointer;
}

#morris-chart-area {
   /* height: 150px;*/
}

.doctor-panel {
    position: relative;
}
.doctor-notification {
    position: absolute;
    right: -5px;
    top: -15px;
    z-index: 99;
}
.doctor-link:hover {
    color: #428bca;
}