.collapse-open span {
    display:block;
    float:left;
    background:url(../../images/minus.png) center center no-repeat;
    padding:10px;
}

.collapse-close span {
    display:block;
    float:left;
    background:url(../../images/plus.png) center center no-repeat;
    padding:10px;
}

.dateOpened span:not(.year) {
    display:block;
    float:left;
    background:url(../../images/minus.png) center center no-repeat;
    padding:10px;
}

.dateClosed span:not(.year) {
    display:block;
    float:left;
    background:url(../../images/plus.png) center center no-repeat;
    padding:10px;
}

.goal-chart {
    height: 300px;
}

.chat-video {
    height: 300px;
    width: 100%
}
.logo-image {
    width: 100px;
}

#morris-chart-area {
    height: 150px;
}