@{
    ViewBag.Title = "history";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $('#nav-history').addClass('active');
    $(document).ready(function () {
        //collapsible management
        
    });
</script>

<div class="row">
    <div class="row">
        <h1 class="page-header">Recent History</h1>
    </div>
    
    <div class="col-lg-7" data-bind="foreach: historyEntries">
        <div class="row" data-bind="attr: { class: 'month_' + month() + ' row' }">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <h3 data-bind="text: title"></h3>
                        </div>
                        <div class="col-xs-6 text-right">
                            <h4  data-bind="text: date"></h4>
                        </div>
                    </div>
                </div>
                

                <div class="col-lg-4 col-sm-5">
                    <a data-bind="attr: { href: '/Doctor/Index?doctorId=' + doctorId() }"><img class="img-rounded" data-bind="attr: { src: imgUrl, alt: name }"/></a>
                </div>
                
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-8 col-sm-7">
                            <div class="row">
                                <span data-bind="text: date"></span>
                            </div>
                            <div class="row panel panel-default">
                                <div class="collapsible" id="section1">Vitals Recorded<span></span></div>
                                <div class="container">
                                    <div class="content" data-bind="foreach: vitalsRecorded">
                                        <div><span data-bind="text: vital"></span>: 
                                            <span data-bind="text: measurement"></span></div>
                                    </div>
                                </div>

                                <div class="collapsible" id="section2">Diagnosis<span></span></div>
                                <div class="container">
                                    <div class="content">
                                        <span data-bind="text: diagnosis"></span>
                                    </div>
                                </div>

                                <div class="collapsible" id="section3">Insurance Info<span></span></div>
                                <div class="container">
                                    <div class="content">
                                        <span data-bind="text: insuranceInfo"></span>
                                    </div>
                                </div>

                                <div class="collapsible" id="section4">Files<span></span></div>
                                <div class="container">
                                    <div class="content">
                                        <span data-bind="text: files"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>
            <hr />
        </div>
    </div>

    <div class="col-lg-5">
        <div data-bind="foreach: dates">
            <div class="collapsible-dates" data-bind="attr: {'id': 'myprefix_' + year}"><span class="year" data-bind=" text: year"></span><span></span></div>
            <div class="container">
                <div class="content" data-bind="foreach: months">
                    <a data-bind="text: monthVisit, click: function (data, event) { debugger; this.scrollToPosition(monthVisit); }"></a><br/>
                </div>
            </div>
        </div>     
    </div>
</div>
<script src="@Url.Content("~/Scripts/knockout-2.2.0.js")"></script>
<script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8b1xMywEqKNmqD9-CF-U_tZCWxdj6hLg&sensor=false"></script>
<script src="@Url.Content("~/Scripts/history.js")"></script>