@{
    ViewBag.Title = "Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $('#nav-appointment').addClass('active');
</script>
    
<!--<button type="button" class="btn btn-default">New Appointment</button>-->

<h1>Appointments
    
    <div class="btn-group">
        <button type="button" class="btn btn-default">Filter</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
        </ul>
    </div>
</h1> 

<div class="row" data-bind="foreach: appointments">
    <div class="col-lg-3 col-sm-4">
        <div class="panel panel-success thumbnail">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="icon-check icon-3x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <h4><span data-bind="text: type"></span></h4>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-8">
                        <span data-bind="text: doctor"></span><br/>
                        <span data-bind="text: phoneNumber"></span> <br/>
                        <a data-bind="attr: { href: addressUrl }, text: address" target="_blank">Map</a>
                    </div>
                    <div class="col-xs-4">
                        <span data-bind="text: date"></span><br/>
                        <span data-bind="text: time"></span><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr/>

<script src="@Url.Content("~/Scripts/knockout-2.2.0.js")"></script>
<script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")"></script>
<script src="@Url.Content("~/Scripts/appointment.js")"></script>