@{
    ViewBag.Title = "Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $('#nav-appointment').addClass('active');
</script>
    
<!--<button type="button" class="btn btn-default">New Appointment</button>-->

<h1>Appointments
    
    <div class="btn-group">
        <button type="button" class="btn btn-default">Filter</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
        </ul>
    </div>
</h1> 

<div class="row" data-bind="foreach: appointments">
    <div class="col-lg-2">
        <div class="thumbnail">
            <span data-bind="text: date"></span><br/>
            <span data-bind="text: time"></span><br/>
            <span data-bind="text: doctor"></span><br/>
            <span data-bind="text: type"></span><br/>
            <span data-bind="text: phoneNumber"></span> <br/>
            <a data-bind="attr: { href: address }" target="_blank">Map</a>
        </div>
    </div>
</div>

<hr/>

<script src="@Url.Content("~/Scripts/knockout-2.2.0.js")"></script>
<script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8b1xMywEqKNmqD9-CF-U_tZCWxdj6hLg&sensor=false"></script>
<script src="@Url.Content("~/Scripts/appointment.js")"></script>