@{
    ViewBag.Title = "Chat";
}

<h2>Chat with VA Support</h2>
<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <video autoplay="autoplay" id="my-stream" class="chat-video"></video>            
        </div>
    </div>
</div>
<button id="startBtn" disabled="disabled">Start Call</button>

<script src="~/Scripts/jquery.signalR-2.0.0.min.js"></script>
<script src="~/Scripts/adapter.js"></script>
<script src="signalr/hubs"></script>
<script src="~/Scripts/chat.js"></script>